Calculadora/Calculadora/Calculadora_service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="Calculadora_service">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/Calculadora/Calculadora_service?xsd=1"/>
</xsd:schema>
</types>
<message name="multiplicacion">
<part name="parameters" element="tns:multiplicacion"/>
</message>
<message name="multiplicacionResponse">
<part name="parameters" element="tns:multiplicacionResponse"/>
</message>
<message name="division">
<part name="parameters" element="tns:division"/>
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse"/>
</message>
<message name="resta">
<part name="parameters" element="tns:resta"/>
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<portType name="Calculadora_service">
<operation name="multiplicacion">
<input wsam:Action="http://server/Calculadora_service/multiplicacionRequest" message="tns:multiplicacion"/>
<output wsam:Action="http://server/Calculadora_service/multiplicacionResponse" message="tns:multiplicacionResponse"/>
</operation>
<operation name="division">
<input wsam:Action="http://server/Calculadora_service/divisionRequest" message="tns:division"/>
<output wsam:Action="http://server/Calculadora_service/divisionResponse" message="tns:divisionResponse"/>
</operation>
<operation name="resta">
<input wsam:Action="http://server/Calculadora_service/restaRequest" message="tns:resta"/>
<output wsam:Action="http://server/Calculadora_service/restaResponse" message="tns:restaResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://server/Calculadora_service/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://server/Calculadora_service/sumaResponse" message="tns:sumaResponse"/>
</operation>
</portType>
<binding name="Calculadora_servicePortBinding" type="tns:Calculadora_service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="multiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calculadora_service">
<port name="Calculadora_servicePort" binding="tns:Calculadora_servicePortBinding">
<soap:address location="http://localhost:8080/Calculadora/Calculadora_service"/>
</port>
</service>
</definitions>